<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Simbiose Ventures - Funcionários</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/simbiose.css' %}">
</head>
<body>
    <header>
        <h1>Simbiose Ventures</h1>
    </header>
    <navbar>
        <span>
            <a href="/">Funcionários</a>
        </span>
        <span>
            <a href="/teams">Equipes</a>
        </span>
        <span>
            <a href="/recommendations">Indicações</a>
        </span>
    </navbar>
    <h2>Funcionários</h2>
    <table>
        <tr>
            <th class="id">Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Indicado por</th>
        </tr>
        {% for employee in employees %}
            <tr>
                <td class="center">{{ employee.id }}</td>
                <td class="ml-2">{{ employee.full_name }}</td>
                <td class="ml-2">{{ employee.email }}</td>
                <td class="center">{{ employee.recommended_by }}</td>
            </tr>
        {%  endfor %}
    </table>

    <h2>Cadastrar novo funcionário</h2>
    <span>
        <label for="full_name">Nome do funcionário</label>
        <input type="text" id="full_name" name="full_name">
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
        <label for="recommended_by">Recomendado por (id do funcionário)</label>
        <input type="text" id="recommended_by" name="recommended_by">
        <input type="submit" id="new_employee" value="Cadastrar">
    </span>

    <h2>Total de contratados indicados por funcionário</h2>
    <span>
        <label for="employee_id">Id do funcionário</label>
        <input type="text" id="employee_id" name="employee_id">
        <input type="submit" id="recommendations_count" value="Consultar">
    </span>
    <h3>Total de contratados indicados pelo funcionário {{ employee_id }}: {{ total }}</h3>

</body>
<script src="{% static 'js/simbiose.js' %}"></script>
</html>