<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Simbiose Ventures - Funcionários</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/simbiose.css' %}">
</head>
<body>
    <header>
        <h1>Simbiose Ventures</h1>
    </header>
    <navbar>
        <span>
            <a href="/">Funcionários</a>
        </span>
        <span>
            <a href="/teams">Equipes</a>
        </span>
        <span>
            <a href="/recommendations">Indicações</a>
        </span>
    </navbar>
    <h2>Indicações</h2>
    <table>
        <tr>
            <th class="id">Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Indicado por</th>
        </tr>
        {% for recommendation in recommendations %}
            <tr>
                <td class="center">{{ recommendation.id }}</td>
                <td class="ml-2">{{ recommendation.candidate_name }}</td>
                <td class="ml-2">{{ recommendation.candidate_email }}</td>
                <td class="center">{{ recommendation.employee_id }}</td>
            </tr>
        {%  endfor %}
    </table>

    <h2>Cadastrar nova indicação</h2>
    <span>
        <label for="candidate_name">Nome do candidato</label>
        <input type="text" id="candidate_name" name="candidate_name">
        <label for="candidate_email">Email</label>
        <input type="text" id="candidate_email" name="candidate_email">
        <label for="recommended_by">Recomendado por (id do funcionário)</label>
        <input type="text" id="recommended_by" name="recommended_by">
        <input type="submit" id="new_recommendation" value="Cadastrar">
    </span>

</body>
<script src="{% static 'js/simbiose.js' %}"></script>
</html>